<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnp.sieta">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".MainActivity"
        android:allowBackup="true"
        android:icon="@drawable/logo_sieta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sieta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dnp.sieta.ui.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dnp.sieta.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.ProspectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.ProspectDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.CallingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.CallingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.OrderDetailPengirimanActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaNameListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaNameListDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaNameListDetail2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaOrganizerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaOrganizerDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaConsultationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaConsultationDownlineActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaConsultationDownlineDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MegaConsultationDownlineDetail2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.CVActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.CVDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.CVDetail2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MartActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MartDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.MartDetail2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.EventActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.KomunitasActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.KomunitasDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.dnp.sieta.ui.VideoDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>